.elementor-3437 .elementor-element.elementor-element-e1dd617 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-e1dd617,
.elementor-3437 .elementor-element.elementor-element-e1dd617::before {
    --border-transition: 0.3s;
}

.elementor-3437 .elementor-element.elementor-element-0f344c4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 90px;
    --background-transition: 0.3s;
    --padding-block-start: 118px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-c5415b2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-67550a1>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-4eb82d6 {
    --spacer-size: 20px;
}

.elementor-3437 .elementor-element.elementor-element-9833aca>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-8b5e093>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-1981c2d>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-7b830e8>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-aaefaf9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 30px;
}

.elementor-3437 .elementor-element.elementor-element-95b5840 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-3437 .elementor-element.elementor-element-00b710a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 110px;
    --margin-block-end: 70px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-00b710a.e-con {
    --align-self: center;
}

.elementor-3437 .elementor-element.elementor-element-fc470c8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-fc470c8 {
    width: var( --container-widget-width, 746px);
    max-width: 746px;
    --container-widget-width: 746px;
    --container-widget-flex-grow: 0;
}

.elementor-3437 .elementor-element.elementor-element-fc470c8.elementor-element {
    --align-self: center;
}

.elementor-3437 .elementor-element.elementor-element-c4f2d39 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 127px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-7cd9569 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-0e2c376 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-72c91c0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-72c91c0 {
    width: var( --container-widget-width, 218px);
    max-width: 218px;
    --container-widget-width: 218px;
    --container-widget-flex-grow: 0;
}

.elementor-3437 .elementor-element.elementor-element-72c91c0.elementor-element {
    --align-self: center;
}

.elementor-3437 .elementor-element.elementor-element-05a3dcf {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-7d3adc1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-7d3adc1 {
    width: var( --container-widget-width, 218px);
    max-width: 218px;
    --container-widget-width: 218px;
    --container-widget-flex-grow: 0;
}

.elementor-3437 .elementor-element.elementor-element-7d3adc1.elementor-element {
    --align-self: center;
}

.elementor-3437 .elementor-element.elementor-element-0dcaa4e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-50cf4a4 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-2b62b4e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-2b62b4e {
    width: var( --container-widget-width, 218px);
    max-width: 218px;
    --container-widget-width: 218px;
    --container-widget-flex-grow: 0;
}

.elementor-3437 .elementor-element.elementor-element-2b62b4e.elementor-element {
    --align-self: center;
}

.elementor-3437 .elementor-element.elementor-element-96ef37d {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3437 .elementor-element.elementor-element-b40a4e1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3437 .elementor-element.elementor-element-b40a4e1 {
    width: var( --container-widget-width, 218px);
    max-width: 218px;
    --container-widget-width: 218px;
    --container-widget-flex-grow: 0;
}

.elementor-3437 .elementor-element.elementor-element-b40a4e1.elementor-element {
    --align-self: center;
}

@media(max-width:1513px) {
    .elementor-3437 .elementor-element.elementor-element-0f344c4 {
        --gap: 0px 60px;
    }
}

@media(max-width:1202px) {
    .elementor-3437 .elementor-element.elementor-element-c4f2d39 {
        --gap: 0px 20px;
    }
    .elementor-3437 .elementor-element.elementor-element-7cd9569 {
        --gap: 0px 20px;
    }
    .elementor-3437 .elementor-element.elementor-element-0dcaa4e {
        --gap: 0px 20px;
    }
}

@media(max-width:1024px) {
    .elementor-3437 .elementor-element.elementor-element-0f344c4 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 54px 0px;
    }
    .elementor-3437 .elementor-element.elementor-element-95b5840 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-3437 .elementor-element.elementor-element-fc470c8 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0;
    }
    .elementor-3437 .elementor-element.elementor-element-c4f2d39 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 50px 0px;
    }
}

@media(max-width:880px) {
    .elementor-3437 .elementor-element.elementor-element-fc470c8 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:680px) {
    .elementor-3437 .elementor-element.elementor-element-e1dd617 {
        --min-height: 280px;
    }
    .elementor-3437 .elementor-element.elementor-element-fc470c8>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 7% 0% 7%;
    }
    .elementor-3437 .elementor-element.elementor-element-fc470c8 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3437 .elementor-element.elementor-element-c4f2d39 {
        --gap: 50px 0px;
    }
    .elementor-3437 .elementor-element.elementor-element-7cd9569 {
        --gap: 50px 0px;
    }
    .elementor-3437 .elementor-element.elementor-element-0dcaa4e {
        --gap: 50px 0px;
    }
}

@media(min-width:681px) {
    .elementor-3437 .elementor-element.elementor-element-c5415b2 {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-95b5840 {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-c4f2d39 {
        --width: 1000%;
    }
    .elementor-3437 .elementor-element.elementor-element-7cd9569 {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-0e2c376 {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-05a3dcf {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-0dcaa4e {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-50cf4a4 {
        --width: 50%;
    }
    .elementor-3437 .elementor-element.elementor-element-96ef37d {
        --width: 50%;
    }
}

@media(max-width:1024px) and (min-width:681px) {
    .elementor-3437 .elementor-element.elementor-element-c5415b2 {
        --width: 100%;
    }
    .elementor-3437 .elementor-element.elementor-element-95b5840 {
        --width: 100%;
    }
    .elementor-3437 .elementor-element.elementor-element-7cd9569 {
        --width: 100%;
    }
    .elementor-3437 .elementor-element.elementor-element-0dcaa4e {
        --width: 100%;
    }
}