.elementor-3562 .elementor-element.elementor-element-a4e97ee {
    --display: flex;
    --min-height: 470px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-a4e97ee,
.elementor-3562 .elementor-element.elementor-element-a4e97ee::before {
    --border-transition: 0.3s;
}

.elementor-3562 .elementor-element.elementor-element-49d1c0e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 117px;
    --margin-block-end: 144px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-e34eea8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3562 .elementor-element.elementor-element-e34eea8 {
    width: var( --container-widget-width, 746px);
    max-width: 746px;
    --container-widget-width: 746px;
    --container-widget-flex-grow: 0;
}

.elementor-3562 .elementor-element.elementor-element-e34eea8.elementor-element {
    --align-self: center;
}

.elementor-3562 .elementor-element.elementor-element-097eff4 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 66px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-5711337.elementor-element {
    --align-self: center;
}

.elementor-3562 .elementor-element.elementor-element-875841f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-875841f:not(.elementor-motion-effects-element-type-background),
.elementor-3562 .elementor-element.elementor-element-875841f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FCF4EB;
}

.elementor-3562 .elementor-element.elementor-element-875841f,
.elementor-3562 .elementor-element.elementor-element-875841f::before {
    --border-transition: 0.3s;
}

.elementor-3562 .elementor-element.elementor-element-68a7aa2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 135px;
    --padding-block-end: 135px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-5fff976 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-c1dd41e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3562 .elementor-element.elementor-element-c1dd41e {
    width: var( --container-widget-width, 522px);
    max-width: 522px;
    --container-widget-width: 522px;
    --container-widget-flex-grow: 0;
}

.elementor-3562 .elementor-element.elementor-element-f458f6d {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-3562 .elementor-element.elementor-element-4a69caf>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1513px) {
    .elementor-3562 .elementor-element.elementor-element-c1dd41e {
        width: var( --container-widget-width, 495px);
        max-width: 495px;
        --container-widget-width: 495px;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:1202px) {
    .elementor-3562 .elementor-element.elementor-element-68a7aa2 {
        --gap: 0px 30px;
    }
    .elementor-3562 .elementor-element.elementor-element-c1dd41e {
        width: var( --container-widget-width, 87%);
        max-width: 87%;
        --container-widget-width: 87%;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:1024px) {
    .elementor-3562 .elementor-element.elementor-element-68a7aa2 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 50px 0px;
    }
}

@media(max-width:680px) {
    .elementor-3562 .elementor-element.elementor-element-a4e97ee {
        --min-height: 280px;
    }
    .elementor-3562 .elementor-element.elementor-element-e34eea8 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0;
    }
    .elementor-3562 .elementor-element.elementor-element-097eff4 {
        --content-width: 86%;
    }
    .elementor-3562 .elementor-element.elementor-element-c1dd41e {
        width: 100%;
        max-width: 100%;
    }
    .elementor-3562 .elementor-element.elementor-element-4a69caf>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-3562 .elementor-element.elementor-element-4a69caf {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width:681px) {
    .elementor-3562 .elementor-element.elementor-element-097eff4 {
        --content-width: 1200px;
    }
    .elementor-3562 .elementor-element.elementor-element-68a7aa2 {
        --width: 100%;
    }
    .elementor-3562 .elementor-element.elementor-element-5fff976 {
        --width: 50%;
    }
    .elementor-3562 .elementor-element.elementor-element-f458f6d {
        --width: 50%;
    }
}

@media(max-width:1513px) and (min-width:681px) {
    .elementor-3562 .elementor-element.elementor-element-097eff4 {
        --content-width: 1100px;
    }
}

@media(max-width:1202px) and (min-width:681px) {
    .elementor-3562 .elementor-element.elementor-element-097eff4 {
        --content-width: 86%;
    }
}

@media(max-width:1024px) and (min-width:681px) {
    .elementor-3562 .elementor-element.elementor-element-5fff976 {
        --width: 100%;
    }
    .elementor-3562 .elementor-element.elementor-element-f458f6d {
        --width: 100%;
    }
}