.elementor-2008 .elementor-element.elementor-element-e0caec2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 63px;
    --margin-block-end: 42px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 72px;
    --padding-inline-end: 72px
}

.elementor-2008 .elementor-element.elementor-element-98be583 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: flex-end;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-7d3adf6>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-7d3adf6.elementor-element {
    --align-self: flex-end
}

body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
    right: 150px
}

body.rtl .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
    left: 150px
}

.elementor-2008 .elementor-element.elementor-element-7d3adf6 {
    z-index: 2
}

.elementor-2008 .elementor-element.elementor-element-9945b96 {
    --display: flex;
    --min-height: 820px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-c631f3e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 135px;
    --margin-block-end: 128px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 100px;
    --padding-inline-end: 100px
}

.elementor-2008 .elementor-element.elementor-element-f1a5b6c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 5px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-57dd628 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 5px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-5295e7e {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-db5b1c6 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-81c995f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 5px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-a47c450 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-d23d174 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-d0fbc62 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 117px;
    --margin-block-end: 144px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-9a203b8>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-9a203b8 {
    width: var( --container-widget-width, 746px);
    max-width: 746px;
    --container-widget-width: 746px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-9a203b8.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-30e8069 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 66px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-a62b2f6.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-3dcdb1f {
    --display: flex;
    --min-height: 846px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-3734447 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-3734447:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-3734447>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://greenpath.qodeinteractive.com/wp-content/uploads/2023/10/h6-background-img1.jpg);
    background-position: center center;
    background-size: cover
}

.elementor-2008 .elementor-element.elementor-element-3734447,
.elementor-2008 .elementor-element.elementor-element-3734447::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-a411855 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-a411855,
.elementor-2008 .elementor-element.elementor-element-a411855::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-4bc42bd>.elementor-widget-container {
    margin: 20px 0 0
}

.elementor-2008 .elementor-element.elementor-element-4bc42bd {
    width: var( --container-widget-width, 310px);
    max-width: 310px;
    --container-widget-width: 310px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-4bc42bd.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-41ca22e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 132px;
    --margin-block-end: 150px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-feeb241>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-feeb241 {
    width: var( --container-widget-width, 746px);
    max-width: 746px;
    --container-widget-width: 746px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-feeb241.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-4d0ee9e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 25px 25px;
    --background-transition: 0.3s;
    --padding-block-start: 50px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-f88e472 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 25px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-452c9c2 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-452c9c2:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-452c9c2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-452c9c2,
.elementor-2008 .elementor-element.elementor-element-452c9c2::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-1a10879>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-1a10879 {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-4a0a1ff {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-4a0a1ff:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-4a0a1ff>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-4a0a1ff,
.elementor-2008 .elementor-element.elementor-element-4a0a1ff::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-a39667a>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-a39667a {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-f026385 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 25px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-a57a452 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-a57a452:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-a57a452>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-a57a452,
.elementor-2008 .elementor-element.elementor-element-a57a452::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-0094334>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-0094334 {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-7dbb616 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-7dbb616:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-7dbb616>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-7dbb616,
.elementor-2008 .elementor-element.elementor-element-7dbb616::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-8183b6c>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-8183b6c {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-7a584ea {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 25px 25px;
    --background-transition: 0.3s;
    --padding-block-start: 25px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-ae045cf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 25px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-932c728 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-932c728:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-932c728>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-932c728,
.elementor-2008 .elementor-element.elementor-element-932c728::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-2f24c42>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-2f24c42 {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-2f24c42.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-1d0a274 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-1d0a274:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-1d0a274>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-1d0a274,
.elementor-2008 .elementor-element.elementor-element-1d0a274::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-399c981>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-399c981 {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-e4d5178 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 25px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-1c54d98 {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-1c54d98:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-1c54d98>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-1c54d98,
.elementor-2008 .elementor-element.elementor-element-1c54d98::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-e05d7a3>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-e05d7a3 {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-098a21e {
    --display: flex;
    --min-height: 250px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: #dedede;
    --border-color: #DEDEDE;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-098a21e:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-098a21e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-098a21e,
.elementor-2008 .elementor-element.elementor-element-098a21e::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-0ff753c>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-0ff753c {
    width: var( --container-widget-width, 185px);
    max-width: 185px;
    --container-widget-width: 185px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-eab89e4 {
    --display: flex;
    --min-height: 680px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-4de7c56 {
    --display: flex;
    --min-height: 830px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-3b7ca5e {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-3b7ca5e:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-3b7ca5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-2008 .elementor-element.elementor-element-3b7ca5e,
.elementor-2008 .elementor-element.elementor-element-3b7ca5e::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-d12f048 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 25px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 12px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-c8a3834>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-c8a3834 {
    width: var( --container-widget-width, 650px);
    max-width: 650px;
    --container-widget-width: 650px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-500702e {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-500702e:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-500702e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #faf6ea
}

.elementor-2008 .elementor-element.elementor-element-500702e,
.elementor-2008 .elementor-element.elementor-element-500702e::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-b198a93>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-b198a93 {
    width: auto;
    max-width: auto
}

.elementor-2008 .elementor-element.elementor-element-ec608b3>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-ec608b3 {
    width: auto;
    max-width: auto;
    top: 70px
}

body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-ec608b3 {
    right: 70px
}

body.rtl .elementor-2008 .elementor-element.elementor-element-ec608b3 {
    left: 70px
}

.elementor-2008 .elementor-element.elementor-element-2a3553a>.elementor-widget-container {
    margin: 37px 0 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-2a3553a {
    width: var( --container-widget-width, 415px);
    max-width: 415px;
    --container-widget-width: 415px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-010fde3 {
    --display: flex;
    --min-height: 130px;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-010fde3:not(.elementor-motion-effects-element-type-background),
.elementor-2008 .elementor-element.elementor-element-010fde3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #698141
}

.elementor-2008 .elementor-element.elementor-element-010fde3,
.elementor-2008 .elementor-element.elementor-element-010fde3::before {
    --border-transition: 0.3s
}

.elementor-2008 .elementor-element.elementor-element-76ed4ca {
    z-index: 2
}

.elementor-2008 .elementor-element.elementor-element-874feac {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-block-start: 130px;
    --margin-block-end: 128px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-2008 .elementor-element.elementor-element-f62bd19>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2008 .elementor-element.elementor-element-f62bd19 {
    width: var( --container-widget-width, 746px);
    max-width: 746px;
    --container-widget-width: 746px;
    --container-widget-flex-grow: 0
}

.elementor-2008 .elementor-element.elementor-element-f62bd19.elementor-element {
    --align-self: center
}

.elementor-2008 .elementor-element.elementor-element-db90bb8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-start;
    --align-items: center;
    --background-transition: 0.3s;
    --margin-block-start: 50px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

@media(max-width:1513px) {
    body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
        right: 60px
    }
    body.rtl .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
        left: 60px
    }
    .elementor-2008 .elementor-element.elementor-element-9945b96 {
        --min-height: 65vh
    }
    .elementor-2008 .elementor-element.elementor-element-c631f3e {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 60px;
        --padding-inline-end: 60px
    }
    .elementor-2008 .elementor-element.elementor-element-3dcdb1f {
        --min-height: 86.6vh
    }
    .elementor-2008 .elementor-element.elementor-element-eab89e4 {
        --min-height: 520px
    }
    .elementor-2008 .elementor-element.elementor-element-4de7c56 {
        --min-height: 760px
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834 {
        width: var( --container-widget-width, 78.3%);
        max-width: 78.3%;
        --container-widget-width: 78.3%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-b198a93 {
        width: var( --container-widget-width, 70%);
        max-width: 70%;
        --container-widget-width: 70%;
        --container-widget-flex-grow: 0
    }
    body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        right: 45px
    }
    body.rtl .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        left: 45px
    }
    .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        top: 45px
    }
}

@media(max-width:1202px) {
    .elementor-2008 .elementor-element.elementor-element-e0caec2 {
        --padding-block-start: 0%;
        --padding-block-end: 0%;
        --padding-inline-start: 7%;
        --padding-inline-end: 7%
    }
    .elementor-2008 .elementor-element.elementor-element-32fac74>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
        right: 7%
    }
    body.rtl .elementor-2008 .elementor-element.elementor-element-7d3adf6 {
        left: 7%
    }
    .elementor-2008 .elementor-element.elementor-element-9945b96 {
        --min-height: 480px
    }
    .elementor-2008 .elementor-element.elementor-element-c631f3e {
        --padding-block-start: 0%;
        --padding-block-end: 0%;
        --padding-inline-start: 7%;
        --padding-inline-end: 7%
    }
    .elementor-2008 .elementor-element.elementor-element-3dcdb1f {
        --min-height: 560px
    }
    .elementor-2008 .elementor-element.elementor-element-3734447 {
        --min-height: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-a411855 {
        --min-height: 0px;
        --gap: 0px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-4bc42bd>.elementor-widget-container {
        margin: 20px 0 0
    }
    .elementor-2008 .elementor-element.elementor-element-eab89e4 {
        --min-height: 480px
    }
    .elementor-2008 .elementor-element.elementor-element-4de7c56 {
        --min-height: 620px
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834 {
        width: var( --container-widget-width, 83.5%);
        max-width: 83.5%;
        --container-widget-width: 83.5%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-b198a93 {
        width: var( --container-widget-width, 60%);
        max-width: 60%;
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        width: var( --container-widget-width, 90px);
        max-width: 90px;
        --container-widget-width: 90px;
        --container-widget-flex-grow: 0;
        top: 30px
    }
    body:not(.rtl) .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        right: 30px
    }
    body.rtl .elementor-2008 .elementor-element.elementor-element-ec608b3 {
        left: 30px
    }
}

@media(max-width:1024px) {
    .elementor-2008 .elementor-element.elementor-element-f1a5b6c {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 5px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-3dcdb1f {
        --min-height: 1200px;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial
    }
    .elementor-2008 .elementor-element.elementor-element-3734447 {
        --min-height: 600px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-a411855 {
        --min-height: 600px
    }
    .elementor-2008 .elementor-element.elementor-element-4bc42bd>.elementor-widget-container {
        margin: 20px 0 0
    }
    .elementor-2008 .elementor-element.elementor-element-4d0ee9e {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial
    }
    .elementor-2008 .elementor-element.elementor-element-7a584ea {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial
    }
    .elementor-2008 .elementor-element.elementor-element-eab89e4 {
        --min-height: 420px
    }
    .elementor-2008 .elementor-element.elementor-element-4de7c56 {
        --min-height: 1400px;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial
    }
    .elementor-2008 .elementor-element.elementor-element-3b7ca5e {
        --min-height: 700px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834>.elementor-widget-container {
        padding: 0%
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834 {
        width: var( --container-widget-width, 653px);
        max-width: 653px;
        --container-widget-width: 653px;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-500702e {
        --min-height: 700px
    }
    .elementor-2008 .elementor-element.elementor-element-2a3553a {
        width: var( --container-widget-width, 63%);
        max-width: 63%;
        --container-widget-width: 63%;
        --container-widget-flex-grow: 0
    }
}

@media(max-width:680px) {
    .elementor-2008 .elementor-element.elementor-element-c631f3e {
        --margin-block-start: 116px;
        --margin-block-end: 129px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-f1a5b6c {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --gap: 5px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-57dd628 {
        --width: 100%;
        --flex-wrap: nowrap
    }
    .elementor-2008 .elementor-element.elementor-element-5295e7e {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-db5b1c6 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-81c995f {
        --gap: 0px 5px;
        --flex-wrap: nowrap
    }
    .elementor-2008 .elementor-element.elementor-element-a47c450 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-d23d174 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-d0fbc62 {
        --margin-block-start: 117px;
        --margin-block-end: 129px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-9a203b8 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-30e8069 {
        --content-width: 86%
    }
    .elementor-2008 .elementor-element.elementor-element-4bc42bd {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-feeb241 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-f88e472 {
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-f026385 {
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-7a584ea {
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-ae045cf {
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-e4d5178 {
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-4de7c56 {
        --min-height: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-3b7ca5e {
        --min-height: 0px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 80px;
        --padding-block-end: 60px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --content-width: 86%;
        --gap: 25px 0px
    }
    .elementor-2008 .elementor-element.elementor-element-75879bd>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2008 .elementor-element.elementor-element-2ea021c>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834>.elementor-widget-container {
        padding: 0%
    }
    .elementor-2008 .elementor-element.elementor-element-c8a3834 {
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 86%);
        max-width: 86%
    }
    .elementor-2008 .elementor-element.elementor-element-500702e {
        --min-height: 0px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 80px;
        --padding-block-end: 80px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-2008 .elementor-element.elementor-element-b198a93 {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0
    }
    .elementor-2008 .elementor-element.elementor-element-2a3553a {
        width: var( --container-widget-width, 86%);
        max-width: 86%;
        --container-widget-width: 86%;
        --container-widget-flex-grow: 0
    }
}

@media(min-width:681px) {
    .elementor-2008 .elementor-element.elementor-element-57dd628 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-5295e7e {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-db5b1c6 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-81c995f {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-a47c450 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-d23d174 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-30e8069 {
        --content-width: 1200px
    }
    .elementor-2008 .elementor-element.elementor-element-3734447 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-a411855 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-f88e472 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-452c9c2 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-4a0a1ff {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-f026385 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-a57a452 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-7dbb616 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-ae045cf {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-932c728 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-1d0a274 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-e4d5178 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-1c54d98 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-098a21e {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-3b7ca5e {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --content-width: 650px
    }
    .elementor-2008 .elementor-element.elementor-element-500702e {
        --width: 50%
    }
}

@media(max-width:1513px) and (min-width:681px) {
    .elementor-2008 .elementor-element.elementor-element-30e8069 {
        --content-width: 1100px
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --content-width: 78.3%
    }
}

@media(max-width:1202px) and (min-width:681px) {
    .elementor-2008 .elementor-element.elementor-element-30e8069 {
        --content-width: 86%
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --content-width: 83.5%
    }
}

@media(max-width:1024px) and (min-width:681px) {
    .elementor-2008 .elementor-element.elementor-element-57dd628 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-81c995f {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-3734447 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-a411855 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-f88e472 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-f026385 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-ae045cf {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-e4d5178 {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-1c54d98 {
        --width: 50%
    }
    .elementor-2008 .elementor-element.elementor-element-3b7ca5e {
        --width: 100%
    }
    .elementor-2008 .elementor-element.elementor-element-d12f048 {
        --content-width: 653px
    }
    .elementor-2008 .elementor-element.elementor-element-500702e {
        --width: 100%
    }
}